<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      internalLogLevel="Off">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.MailKit"/>
		<add assembly="NLog.Targets.Redis" />
	</extensions>
	<targets async="true">
		<target xsi:type="Null" name="blackhole" />
		<target xsi:type="Mail" name="infoMail"
			    smtpServer="smtp.qiye.aliyun.com"
			    smtpPort="465"
			    smtpAuthentication="Basic"
			    smtpUserName="service@ApolloErp.cn"
			    smtpPassword="Abcd@1234"
				enableSsl="true"
				addNewLines="true"
				from="service@ApolloErp.cn"
				to="devMonitor@ApolloErp.cn"
			   subject="${appdomain} 线上 服务报错通知"
			   header="************************************************"
			   body="
                  level: ${level}
                  ${newline}
                  date: ${date}
                  ${newline}
                  application: ${appdomain}
                  ${newline}
                  message: ${message}
                  ${newline}
                  logger: ${logger}
                  ${newline}
                  callSite: ${callsite:className=true:methodName=true:skipFrames=1}
                  ${newline}
                  exception: ${exception:tostring}
                  "
			   footer="************************************************" />

		<target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}_${level}.log" >
			<layout xsi:type="JsonLayout">
				<attribute name="type" layout="api" />
				<attribute name="date" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="application" layout="${appdomain}" />
				<attribute name="callSite" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
				<attribute name="message" layout="${message}" encode="false"/>
				<attribute name="exception" layout="${exception:tostring}" encode="false" />
			</layout>
		</target>

		<target name="db" xsi:type="Database"
					  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
					  connectionString="server=localhost;Database=system_log;user id=ApolloErp;Password=ApolloErp1234;SslMode=none">
			<commandText>
				insert into sys_log (
				application, date, level, message,
				logger, callsite, exception
				) values (
				@application, @date, @level, @message,
				@logger, @callSite, @exception
				);
			</commandText>
			<parameter name="@application" layout="${appdomain}" />
			<parameter name="@date" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>

		<target xsi:type="Redis" name="redis"  host="localhost" port="6379" password="ApolloErp1234" db="0" key="logstash_api" dataType="list">
			<layout xsi:type="JsonLayout">
				<attribute name="type" layout="service" />
				<attribute name="date" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="application" layout="${appdomain}" />
				<attribute name="callSite" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
				<attribute name="message" layout="${message}" encode="false"/>
				<attribute name="exception" layout="${exception:tostring}"  encode="false"/>
			</layout>
		</target>

	</targets>

	<rules>
		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
		<logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Error" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="db" />
		<logger name="*" minlevel="Error" writeTo="infoMail" />
		<!--<logger name="*" minlevel="Info" writeTo="redis" />-->
	</rules>
</nlog>